.location-search {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 14px 0;
  box-sizing: border-box;
}

.my-select {
  width: 80%;
}

.my-select .select__control {
  background-color: #e2e2e2;
  border: none;
  box-shadow: none;
  border-radius: 18px;
  font-size: 17px;
  padding: 5px;
}

.my-select .select__menu {
  border-radius: 4px;
}

.my-select .select__option--is-selected {
  background-color: #e2e2e2;
}

.logo {
  display: none;
  font-size: 40px;
  font-weight: 500;
}

@media screen and (min-width: 1240px) {
  .logo {
    display: block;
  }

  .location-search {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 14px 0;
    box-sizing: border-box;
    gap: 30px;
  }

  .my-select {
    width: 30%;
  }
}
